body{
    width: 100%;
    margin: 0;
    /* display: flex;
    /* justify-content: center; */
    /* align-items: center; */

    /* font - poppins */
    font-family: 'Poppins', sans-serif;
}

/* nav bar */
nav{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#2D25A0;
    /* height: 25px;
    width: 1000px; */
   
}
/* nav menu */
nav a{
    color: white;
    text-decoration: none;
    margin: 10px;
}

.nav-options{
    margin-top: 42px;
}
/* login button */
.login-button{
    margin-top: 42px;
    margin-left: 573px;
    background-color:  #E02C6D;
    padding: 3px 4px;
    font-weight: 500;
    font-size: 16px;
}
/* hover on banner image */
.top-image img:hover{
    transform: scale(1.1);
    transition: transform 1s ease-out;
}
/* First container  */
.first-container{
    
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: #2D25A0;
}
/* banner title  */
.first-container h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color:  #FFFFFF;
}
/* banner image */
.top-image{
    margin-top: 100px;
    margin-bottom: 86px;
    width: 556.01px;
    height: 438px;
}

/* watch live button */
.watch-button
{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
/* media query for first section */
@media only screen and (max-width:688px){
   .first-container{
       
       display: flex;
       flex-wrap: wrap;
       justify-content: left;
       align-items: flex-start;
       grid-template-columns: repeat(1,1fr);
   } 
   .banner h1{
    font-size:36px ;
    margin-left: 20px;
   }
   .banner button{
       width: 130px;
       height: 30px;
       margin-left: 20px;
   }
   .first-container img{
       height: 300px;
       width: 350px;
       margin-left: 20px;
   }
   .nav-options{
   display: none;
   }
   .login-button{
    margin-top: 10px;
    margin-left: 270px;
    background-color:  #E02C6D;
    font-size: 9px;
   }
}

/* PLAYERS SECTION */
.players{
    margin-top: 70px;
    margin-left: 60px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,400px);
    grid-row-gap: 27px;
    
}
.player {
    width: 300px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player h3{
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    color: #18191F;
}
.player p{
    font-size: 16px;
    font-weight: normal;
    color: #6C6C6C;
}
.player img{
   
   width: 300px;
   height: 256px;
}

/* media query for PLAYERS */
/* MOBILE */
@media only screen and (max-width:688px){
    .players{
        margin-top: 70px;
        margin-left: 25px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 15px;
        
    }
}
/* TAB */
@media only screen and (min-width:688px) and (max-width:992px){
    .first-container{
       
        display: flex;
        justify-content:center;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
    } 
    .banner h1{
        font-size:32px ;
        margin-left: 30px;
       }
    .banner button{
           width: 130px;
           height: 30px;
           margin-left: 20px;
       }
    .first-container img{
           height: 300px;
           width: 350px;
           margin-left: 160px;
           margin-top: 60px;
       }
    nav a{
        font-size: 13px;
    }
    .nav-options{
        margin: 0;
        padding: 30px;
        justify-content:space-between;
    }
    .login-button{
        
        /* margin-left: 573px; */
        background-color:  #E02C6D;
        padding: 3px 4px;
        font-weight: 500;
        font-size: 10px;
        width: 90px;
        margin: 0;
    }
    .players{
        margin-top: 70px;
        margin-left: 50px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 15px;
        
    }
    
}

/* HIGHLIGHT SECTION */
.Copa-highlights{
    margin-top: 165px;
}
.highlights{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.highlight-news h1{
    color: #0A0826;
    font-weight: bold;
    font-size: 48px;
}
.highlight-news{
    width: 469px;
    height: 309px;
    color: #6C6C6C;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 182px;
}
.match img{
    width: 567px;
    height: 427px;
    margin-right: 156px;
}
/* media query for HIGHLIGHT SECTION */

/* mobile */

/* ------------------------ 
            INCOMPLETE 
             ----------------- */
@media only screen and (max-width:688px){

    .Copa-highlights
    {
        margin-top: 60px;
    } 
    .highlights{
        display:flex;
        justify-content:space-between;
        flex-direction:column;
        align-items: center;
    }
    .highlight-news{
        margin-left: 5px;
        width: 300px;
        height: 300px;
    }
    .highlight-news h1{
        color: #0A0826;
        font-weight: bold;
        font-size: 26px;
    }
    .highlight-news p{
        width: 190px;
        height: 80px;
        color: #6C6C6C;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        margin-top: 0;
        
    }
    .watch-button
    {
        width: 80px;
        height: 25px;
        background-color: #E02C6D;
        border: 0;
        font-weight: 500;
        font-size: 10px;
        color: #FFFFFF;
    }
    .match img{
        width: 300px;
        height: 250px;
        margin-right:0;
    }

}

/* tab */
@media only screen and (min-width:688px) and (max-width:992px){

}

/* -------- 
   FOOTER
---------- */
footer{
    margin-top: 158px;
    margin-left: 475px;
}
.logo img{
    width: 483px;
    height: 110px;
}
.social-icons{
    width: 170px;
    height: 32px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 156px;
    
}
.social-icons img{
    width: 32px;
    height: 32px;
    padding: 14px;
}
.copy-right{
    margin-left:155px ;
}
.copy-right p{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
/* Media query of FOOTER */
/* for mobile */
@media only screen and (max-width:668px) {
    footer{
        margin-top: 158px;
        margin-left: 40px;
    }
    .logo img{
        width: 230px;
        height: 60px;
    }
    .social-icons{
        width: 90px;
        height: 25px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-left: 70px;
        
    }
    .social-icons img{
        width: 20px;
        height: 20px;
        padding: 7px;
    }
    .copy-right{
        margin-left:55px ;
    }
    .copy-right p{
        font-size: 12px;
        font-weight: 400;
        color: black;
        margin-top: 0;
    }
}
/* for tab */
@media only screen and (min-width:688px) and (max-width:992px){

}