body{
    width: 100%;
    margin: 0;
    /* display: flex;
    /* justify-content: center; */
    /* align-items: center; */

    /* font - poppins */
    font-family: 'Poppins', sans-serif;
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2D25A0;
    /* height: 25px;
    width: 1000px; */
   
}
/* nav menu */
nav a{
    color: white;
    text-decoration: none;
    padding: 10px ;
}
/* login button */
.login-button{
    background-color:  #E02C6D;
}

/* First container  */
.first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
}
/* banner image */
.top-image{
    width: 556.01px;
    height: 438px;
}